
.container{
    position:relative;
    max-width: 1170px;
    background-color:white;
    margin:auto;
  }
  
.Footer{
    background-color: white;
    padding:50px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }
  .footerrow{
  display:flex ;
  }
  ul{
    position:relative;
    list-style-type:none;
    line-height:180%;
    left:-40px;
  }
  .footer-col{
    width:25%;
    padding:0 10px;
  }
  .footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    position:relative;
    color:rgb(227, 227, 233)
  }
  .footer-col h4::before{
    content:'';
    position:absolute;
    bottom:-10px;
    height:2px;
    width:100px;
    background-color: red;
  }
  .copyright p{
    position:absolute;
    margin:0;
    padding:0;
    background-color: rgb(97, 78, 78);
    left:100px;
  }
  .footer-col li{
    color:white;
  }
  .footer-col i:hover{
    transform: scaley(1.4);
  }
  